.text{
    width: 800px;
    font-size: larger;
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.text2{
     width:500px;
     font-size: large;
     font-family: 'Roboto Condensed', sans-serif;
     color: blue;
     margin: auto;
     text-align: center;
     margin-top: 30px;
}
#answer{
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    width: 400px;
    height: 30px;
    margin-top: 50px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
#check
{
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(51, 153, 255);
    border-radius: 4px;
    color: white;
}